<!DOCTYPE html>
<html>
<head>
    <title>People List</title>
</head>
<body>
    <h3>People List</h3>

    <div class="my-2">
        <a class="btn btn-primary" href="/person/add">Add Person</a>
        <br>
        <table class="table table-stripped">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.address }}</td>
                    <td>
                        <a href="/person/edit/{{ person.id }}" class="btn btn-success">Edit</a>
                        <a href="/person/delete/{{ person.id }}" class="btn btn-danger" onclick="return window.confirm('Are you sure about deletion ?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
