
@{
    ViewData["Title"] = "UploadFileForm";
}

<h1>UploadFileForm</h1>

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data" action="/api/FileUpload">
    <div class="form-group">
        <label for="file">Choose File:</label>
        <input type="file" id="file" name="file" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
